# Dependencies
node_modules/


# dotenv environment variables file
.env

# NestJS specific
dist/
build/

# React/Vite specific
client/dist/
client/build/
client/.vite/

# IDE and Editor files
.vscode/

# Upload files (you may want to keep this depending on your needs)
uploads/*.pdf


# Package managers
package-lock.json